# Files
.env.example
.dockerignore
.gitignore
.air.toml
Dockerfile
Makefile
LICENSE
**/*.md
**/*_test.go

# Test
*.out

# Folders
.idea
.git/
.github/
build/
temp/
tmp/
cli/
cert/
gen/

# misc
Todo.txt